@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;800&display=swap');
:root {
  --ion-background-color-favorite: #21209C;
  --ion-color-favorite: #fff;
}
.ion-color-favorite {
  --ion-background-color-favorite: var(--ion-background-color-favorite);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
    box-sizing: border-box;
}
  ion-toolbar {
    --background: #16697A;

    ion-title {
      padding: 20px 0 46px 0;
      font-weight: 900;
    }
  }
  ion-content {
    --background: #16697A;
    .custom-shape-divider-top-1634066264 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .custom-shape-divider-top-1634066264 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 75px;
        transform: rotateY(180deg);
    }
    
    .custom-shape-divider-top-1634066264 .shape-fill {
        fill: #DB6400;
    }
     
    h5{
      font-weight: bold;
      display: flex;
      justify-content: center;
      margin-top:7rem;
      font-size: 1.6rem;
      color: #F8F1F1;
    }
    p {
      justify-content: center;
      text-align: center;
      color: #F8F1F1;
      font-size: 13px;
      line-height: 20px;
      margin: 0.8rem 4rem;
    }
    .container-form-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1.3rem;
    }
    ion-button{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      margin: 5px 6px;
      height: 40px;
      --color:#F8F1F1;
      min-width: 280px;
      padding: 3px 0 0 0 ;
      text-transform: uppercase;
      letter-spacing: 1px;
      --background:#DB6400;
    }
    a{
      text-decoration: none;
      display: flex;
      justify-content: center;
      color: #F8F1F1;
      font-size: 14px;
    }
    .socials{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    ion-icon{
        margin: 0 7px;
        background-color: #F8F1F1;
        color: #DB6400;
        border: #F8F1F1 1px solid;
        font-size: 15px;
        padding: 4px;
        border-radius: 50%;
        transition: all 0.5s;
    }
    ion-icon:hover{
        background-color: #DB6400;
        color: #F8F1F1 ;
        border: #DB6400;
        transform: translateY(10px);
    }
    .wrap-input {
        background-color: #16697A;
        margin: 0 2rem 20px 2rem;
      }
    .input {
        text-align: center;
        background: #F8F1F1;
        color: #16697A;
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 1.2;
        outline: none;
        height: 40px;
        border: none;
        border-radius: 20px;
        padding: 0 10px 0 4px; 
      }  
  }
  