<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Student's Profile <a href="./login"><ion-icon name="log-in-outline"></ion-icon></a> </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>

    <ion-card>
      <img src="assets/jiean.jpg"/>
      <ion-card-header>
        <ion-card-title>Jiean Marc P. Estudillo</ion-card-title>
        <ion-card-subtitle>201911036@gordoncollege.edu.ph</ion-card-subtitle>
      </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-label>Student ID</ion-label>
          <ion-badge color="light" slot="end">201911036</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Department</ion-label>
          <ion-badge color="light" slot="end">CCS</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Program / Block</ion-label>
          <ion-badge color="light" slot="end">BSIT 3B</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Learning Type</ion-label>
          <ion-badge color="light" slot="end">Offline</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Sex</ion-label>
          <ion-badge color="light" slot="end">MALE</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label>Birthday</ion-label>
          <ion-badge color="light" slot="end">April 22 2001</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card>

  </ion-content>
</ion-app>